<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warrior.sell.mapper.ProductCategoryMapper">
    <resultMap id="BaseResultMap" type="com.warrior.sell.entity.ProductCategory">
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_type" property="categoryType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="pc_column_list">
        category_id,category_name,category_type
    </sql>

    <sql id="pc_all_column_list">

        category_id,category_name,category_type,create_time,update_time

    </sql>

    <select id="selectOne" resultType="com.warrior.sell.entity.ProductCategory">

        SELECT
        <include refid="pc_column_list"/>

        FROM product_category WHERE category_id = #{categoryId}

    </select>

    <insert id="insertProductCategoryToBatch" parameterType="java.util.List">

        INSERT into product_category (category_name,category_type) VALUES

        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.categoryName},#{item.categoryType})
        </foreach>
    </insert>

    <select id="findByCategoryType" resultType="ProductCategory">
        SELECT <include refid="pc_column_list"/> FROM product_category
        WHERE
        category_type = #{CategoryTypeNumber,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-07-28-->
    <select id="findByCategoryTypeIn" resultMap="BaseResultMap">
        select
        <include refid="pc_all_column_list"/>
        from product_category
        where category_type in
        <foreach item="item" index="index" collection="categoryTypeCollection"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectAll" resultType="ProductCategory">
        select <include refid="pc_all_column_list"/> from product_category
    </select>

</mapper>